In [58]:
from pandas_datareader import data
from datetime import datetime
from bokeh.plotting import figure, show
from math import pi

start = datetime(2021,2,1)
end = datetime(2021,6,10)

df = data.DataReader(name="AAPL", data_source="yahoo", start=start, end=end)

p = figure(title='Stcok Market Apple', x_axis_type='datetime', x_axis_label='Dates', y_axis_label='Amount',
           sizing_mode="scale_width", height=150)
p.xaxis.major_label_orientation = pi/4
p.grid.grid_line_alpha=0.3 

inc = df.Close > df.Open
dec = df.Open > df.Close
w = 12*60*60*1000 # half day in ms

p.segment(df.index, df.High, df.index, df.Low, color="black")
p.vbar(df.index[inc], w, df.Open[inc], df.Close[inc], fill_color="#D5E1DD", line_color="black")
p.vbar(df.index[dec], w, df.Open[dec], df.Close[dec], fill_color="#F2583E", line_color="black")

#show(p)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-02-01,135.380005,130.929993,133.750000,134.139999,106239800.0,133.712723
2021-02-02,136.309998,134.610001,135.729996,134.990005,83305400.0,134.560028
2021-02-03,135.770004,133.610001,135.759995,133.940002,89880900.0,133.513382
2021-02-04,137.399994,134.589996,136.300003,137.389999,84183100.0,136.952377
2021-02-05,137.419998,135.860001,137.350006,136.759995,75693800.0,136.528091
...,...,...,...,...,...,...
2021-06-04,126.160004,123.849998,124.070000,125.889999,75169300.0,125.889999
2021-06-07,126.320000,124.830002,126.169998,125.900002,71057600.0,125.900002
2021-06-08,128.460007,126.209999,126.599998,126.739998,74403800.0,126.739998
2021-06-09,127.750000,126.519997,127.209999,127.129997,56877900.0,127.129997
2021-06-10,128.190002,125.940002,127.019997,126.110001,71186400.0,126.110001